.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-top: 2vh;
    /* Start the cards 2/3 of the way down the page */
    padding-bottom: 20vh;
  
  }