.event-column {
  display: flex;
  justify-content: space-between;
}

.last-column {
  align-items: flex-end;
}


.image {
  box-sizing: border-box;
  max-height: 400px;
  min-width: 50%;
  max-width: 50%;
}
